#   =============================================================================
#   Ignore logging server json log file
#   =============================================================================
logging-server/garage_logs.json

#   =============================================================================
#   Ignore garage control server json config file
#   =============================================================================
garage-control-server/config.json

#   =============================================================================
#   Ignore all SSL certificate files
#   =============================================================================
*.pem

#   =============================================================================
#   Ignore all macOS Finder attribute files
#   =============================================================================
._*
.DS_Store

#   =============================================================================
#   Ignore all pycache files
#   =============================================================================
__pycache__